@media screen and (max-width: 700px) {
    /* 700 or less */
    .backcontainer {
        height: 83vh;
    }
    .container {
        width: 100%;
    }
    .container img {
        width: 100%;
        min-width: 200px;
    }
    #send-container {
        width: 100%;
    }
    .message {
        max-width: 60vw;
    }
    .btn i {
        font-size: 2em;
    }
}
@media screen and (max-width: 500px) {
/* 500 or less */
.backcontainer{
    height: 78vh;
}
}

